<% content_for :title do %>About<% end %>
<center><h3>About</h3></center>
<center><p>Larsen & McDermott Enterprises, LLC is a California based company that specializes in e-commerce, and software development. We encourage you to check out our wide selection of product offerings.</p></center>
